.a {
    display: block;
    padding: 1rem 2rem;
    border-radius: 2.5px;
    border: solid 1px #04C4D9;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #04C4D9 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}