.aboutMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutH1 {
    font-size: 2.6rem;
    margin: 0;
}

.p {
    border-bottom: 1px solid #04C4D9;
    border-top: 1px solid #04C4D9;
    padding: 20px 0px;
    font-size: 1.4rem;
}

.image {
    border-radius: 5px;
}

.a {
    display: block;
    padding: 1rem 2rem;
    border-radius: 2.5px;
    border: solid 1px #04C4D9;
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #04C4D9 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.a:hover {
    background-position: left bottom;
    color: black;
    transform: scale(1.1);
}
