.headerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.headerH1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.span {
    color: yellow;
    text-shadow: 2px 2px 4px red;
}

.headerLinks {
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    border-radius: 2.5px;
    border: solid 1px #04C4D9;
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, #04C4D9 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

.headerLinks:hover {
    background-position: left bottom;
    color: black;
    transform: scale(1.1);
}

.headerButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}