.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: background-color 0.3s;
}

.navbar-blurred {
    background-color: rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(2px);
}

.navList {
    list-style: none;
    padding: 0;
    margin: 5px 20px;
    display: flex;
    gap: 20px;
}


.navItem {
    padding: 10px 0;
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.navLink:hover {
    text-shadow: 1px 1px 2px red;
}



.lngButton {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lngFlag {
    width: 24px;
    height: 22px;
}

/* MOBILE */

.navbarMobile {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.navListMobile {
    width: 96px;
    background-color: black;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 12px;
}

.buttons {
    background-color: black;
    border-radius: 1px;
    display: flex;
    align-items: center;
}

.buttonIcon {
    margin: 0;
    padding: 0;
    display: flex;
    filter: invert(1);
    border: none;
    background-color: transparent;
}

.menuIcon {
    width: 54px;
}

.lngButtonMobile {
    padding: 0;
    margin: 0;
    width: 54px;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}