.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navList {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
    list-style: none;
    padding: 0px 20px;
    margin-top: 5px;
    display: flex;
    gap: 20px;
}

.navlist-blurred {
    border: 1px solid #04C4D9;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(3px);
}

@keyframes nav-shadown {
    to {
        @apply shadow-lg ring-1 backdrop-blur bg-gray-800/60 ring-[#04C4D9];
    }
}


.navItem {
    padding: 10px 0;
}

.navLink {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.navLink:hover {
    text-shadow: 1px 1px 2px red;
}



.lngButton {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lngFlag {
    width: 24px;
    height: 22px;
}